@import "tailwindcss";

:root {
  --background: #f8f4e1;
  --foreground: #222831;
}

/* nav {
  background: #dfd0b8;
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: "" sans-serif;
} */

/* img {
  transition: all 0.3s ease;
}

img:hover {
  scale: 102%;
} */

body {
  transition: all 0.3s ease;
}
/* HTML: <div class="loader"></div> */
.loader {
  --r1: 154%;
  --r2: 68.5%;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(
      var(--r1) var(--r2) at top,
      #0000 79.5%,
      #269af2 80%
    ),
    radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
    radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%), #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  33% {
    background-position: 0% 33%, 100% 33%, 200% 33%;
  }
  66% {
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }
  100% {
    background-position: 0% 100%, 100% 100%, 200% 100%;
  }
}

/* Scrollbar style */
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

/* .marqueeContainer {
  background-color: #1e90ff;
  width: 100%;
  overflow: hidden;
  padding: 0 0;
  position: relative;
}

.marqueeText {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding-left: 100%;
  font-style: italic;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.bounce {
  background-color: #1e90ff;
  height: 30px;
  overflow: hidden;
  position: relative;
  z-index: 9999;
  /* Adding a subtle shadow */
}

.bounce p {
  color: white;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  transform: translateX(50%);
  animation: bouncing-text 10s ease-in-out infinite alternate;
}

@keyframes bouncing-text {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* styles/PopUp.module.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.popup {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  max-width: 80%;
  animation: slideIn 0.4s ease-out forwards;
  opacity: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  padding: 5px 10px;
}

.closeButton:hover {
  color: #000;
}

.popupText {
  font-weight: bold;
  font-size: 1em;
  color: #004d99;
  margin-bottom: 5px;
}

.options {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Animasi */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Kelas untuk mencegah scrolling pada body */
body.no-scroll {
  overflow: hidden;
}